.artist-banner {
  position: fixed;
  top: 0px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 500px;
  z-index: -1;
}
#artist {
  padding: 5vw;
  .button{
    writing-mode: vertical-lr;
    text-transform: uppercase;
    position: absolute;
    background: $primary;
    color: white;
    bottom: 10px;
    right: -20px;
    padding: 15px 2px;
    font-weight: bold;
    &:hover {
      background: $secondary;
      color: white;
    }
  }
  .infos {
    #markdown-text {
      width: 100%;
      text-align: justify;
      column-count: 2;
      column-gap: 2em;
      h1 {
        padding-bottom: 1em;
        font-size: 1.5em;
        padding: 2em 0px;
        column-span: all;
      }
    }
    position: relative;
    border: $primary 10px solid;
    margin: 50px auto;
    background: white;
    padding: 10vw;
    img {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: $primary 10px solid;
    }
    h2 {
      font-size: 8vw;
      font-weight: bold;
      padding-bottom: 24px;
    }
    form {
      .date {
        width: 100px;
        display: inline;
      }
      input {
      }
      textarea {
        height: 300px;
      }
    }
  }
}
