// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

::-webkit-scrollbar {
  width: 2px;

        }
::-webkit-scrollbar-thumb {
  background: $primary;

}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}
p {
  font-size: .8em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: $primary;
  transition: all .15s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $secondary;
  }
}
